.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text], input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #040670;
    box-sizing: border-box;
}

input[type="button"] {
    width: 100%;
    margin-top: 8px;
    padding: 12px 20px;
    background-color: #1976D2;
    color: #FFFFFF;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    transition: 0.25s;
}

input[type="button"]:hover {
    background-color: #DD0031;
}