<!-- Vinculando os dados estabelecidos no arquivo interpolation.componente.ts -->

<div class="content">
    <h2>Interpolation Data binding</h2>
    <span>O valor da variável x é: {{ x }}</span>
    <br /><br />
    
    <span>O array de números é composto pelos valores: {{ umArray }}</span>
    <br /><br />
    
    <span>A data de hoje é: {{ dataHoje }}</span>
    <br /><br />
    
    <span>O status booleano indicado na variável é: {{ statusBooleano }}</span>
    <br /><br />

    <span>{{ statusBooleano ? "Este texto é exibido quando o status for TRUE" : "Este texto é exibido quando o status for FALSE" }}</span>
    <br /><br />

    <span>{{ exibirTexto() }}</span>
</div>