<!-- Este é o componente de criação de registros -->
<div class="container custom-container">
    <div class="col-md-12">
        <h3 class="mb-3 text-center">Criar registro</h3>

        <!-- Criar o formulário -->
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="dadosRegistros.name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Email" [(ngModel)]="dadosRegistros.email">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Telefone" [(ngModel)]="dadosRegistros.phone">
        </div>
        <div class="form-group">
            <button class="btn btn-sucess btn-lg btn-block" (click)="atualizarRegistro()">Criar Registro</button>
        </div>
    </div>
</div>