<div class="container">
  <header>
      <h1>Curriculum Impacta </h1>
  </header>
  <article>
      <h2><i class="fa fa-id-badge"></i> Ambrósia Andrade</h2>
      <p>
          <span>Telefone:</span> (87) 98765-4321<br/>
          <span>E-mail:</span> ambrosia@mail.com<br/>
      </p>

      <h2><i class="fa fa-location-arrow"></i> Localização</h2>
      <p>Av. Monsenhor Ângelo Sampaio, s/n, Vila Eduardo <br> Petrolina, PE</p>
  </article>
  <section>
      <h2><i class="fa fa-file-text-o"></i> Cargos Pretendidos</h2>
      <ul>
          <li>Desenvolvedora Frontend</li>
          <li>Desenvolvedora FullStack</li>
          <li>Professora de tecnologia</li>
          <li>Professora de biologia</li>
      </ul>
  </section>
  <section>
      <h2><i class="fa fa-folder-open-o"></i> Experiência Profissional</h2>
      <ul>
          <li>Estagiária de Montagem e manutenção de computadores e suporte ao usuário - Empresa 1 </li>
          <li>Estagiária de Montagem e manutenção de computadores e suporte ao usuário - Empresa 2 </li>
          <li>Instrutora de tecnologia para a terceira idade - Empresa 3</li>
          <li>Consultora de Soluções Customizadas I - Empresa 4</li>
      </ul>
  </section>
  <section>
      <h2><i class="fa fa-book"></i> Educação</h2>
      <ul>
          <li>Bacharela em Ciência da Computação, 2020. </li>
          <li>Pós-graduação em desenvolvimento FullStack, 2021. </li>
          <li>Licencianda em Ciências Biológicas, previsão de conclusão em 2022. </li>
      </ul>
  </section>
  <footer>
      <em>Elaborado por: Ambrósia Andrade</em>
  </footer>
</div>